p {
    font-family: 'Open Sans', sans-serif;
}

h1,h3 {
    font-family: 'Oswald', sans-serif;
}

.cuadrado {
    width: 100px; 
    height: 100px; 
    background: #428bca;
}
.card { background-color: rgba(194, 176, 176, 0.4); }
body, html {

    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 30px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.input-group-prepend span{
    width: 50px;
    border-radius: 25px;
    background-color: #7c6c35;
    color: #fff;
    border:0 !important;
    left: 15px;
    right: 55px;
  top: 11px;
}


.spinner input {
    text-align: right;
  }
  
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
  }
  
  .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
  }

  .input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
  }
  
  .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
  }
  
  .input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
  }